# keeping only one example in /out dir and keeping /out/debug dir
/out/*
!/out/example_2018_09_13_19_07_28.txt
!/out/debug
/out/debug/*
!/out/debug/.gitkeep

# keep only default end example
#/data/*
!/data/default_codes.cod
!/data/default_scores.sco
!/data/example.fasta
!/data/example.loc

# ignoring eclpise specific dirs and files
/bin
/.settings
.classpath
.project
