# keep only one example in /out dir and keeping /out/debug dir
/out/*
!/out/example*
!/out/debug
/out/debug/*
!/out/debug/.gitkeep

# keep only default end example
#/data/*
!/data/default_*
!/data/example.*

# ignore eclpise specific dirs and files for GLOCAL
/bin
/.settings
.project
.classpath

# ignore eclpise specific dirs and files for measures
/measures/bin
/measures/.settings
/measures/.project
/measures/.classpath



# ignore log files
*.log
